[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/argagg"]
	path = thirdparty/argagg
	url = https://github.com/vietjtnguyen/argagg
[submodule "thirdparty/mpiwcpp17"]
	path = thirdparty/mpiwcpp17
	url = https://github.com/rodriados/mpiwcpp17
[submodule "thirdparty/cuda"]
	path = thirdparty/cuda
	url = https://github.com/eyalroz/cuda-api-wrappers.git
